body{
    background-color: rgb(46, 41, 41);
}

h1{
    text-align: center;
    color: rgb(9, 214, 43);
}
.show{
	display : inline-block;
}

#forms div{
	display : inline-block;
}

#playlistlist{
	float : left;
}

#maincontainer{
	height : 500px;
	padding : 10px
}

#leftbutton{
	float : left;
	padding: 20px;
}

#reorderbutton{
	float : left;
    padding: 20px;	
}

#rightbutton{
	float : left;
    padding: 20px;	
}

#savebutton{
	float : right;
	padding-right: 200px;
	padding-top: 120px;
}

table{
    text-align: center;
    border: none;
}

#playlist_form{
    float: right;
    margin-right: 8%;
    text-align: center;
    background-color: rgb(92, 194, 109);
    font-size: 20px;
    padding: 40px;
    padding-bottom: 40px;
    border-radius: 15px;
}

#song_form{
    float: left;
    margin-left: 2%;
    text-align: center;
    background-color: rgb(92, 194, 109);
    font-size: 20px;
    padding: 20px;
    padding-bottom: 100px;
    border-radius: 15px;
}

#add_song_to_playlist{
	background-color: rgb(92, 194, 109);
	text-align : center;
	margin : 0 auto;
}

#id_songscontainer{
	padding-top: 25px;
    padding-left: 30px;
}

#id_songsorder{
    padding-left : 100px;
    padding-bottom: 30px;
}


input{
    border: 3px #ccc;
  	outline: none;
	height : 10px;
	width : 200px;
	border-radius : 13px;
	font-size: 20px;
	padding: 12px 20px;
    padding-bottom: 15px;
}
input[type="file"]{
    padding: 20px;
}

input[type="button"]{
    margin-top: 20px;
    padding-bottom: 40px;
    cursor : pointer;
}

thead,th,td,tr{
    background-color: rgb(92, 194, 109);
    border-radius: 15px;
    padding : 15px;
    font-size: 25px;
}
#id_alert{
color:white;
}

.selected{
	color : red;
}

.notselected{
	color : black;
}

#id_songsorderbody{
	cursor : move;
}

img{
	width : 90px;
	height : 90px;
	padding : 10px;
	border-radius: 15px;
}




