<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" media="all" href="../Css/PlaylistPageStyle.css" th:href="@{/Css/PlaylistPageStyle.css}" />
<title>List of Songs</title>
<style>
table{
	border : 3px solid black;
	border-collapse : collapse;
}

td{
	border : 3px solid black;
}

img{
	width : 128px;
	height : 128px;
	padding : 15px;
}

.column{
	text-align: center;
}

</style>
</head>
<body>
	<h1>Playlist <span th:text="${playlist.title}">GUE</span></h1>
	<div id="songs_table">
		<table>
			<tbody>
				<tr>
					<td class="column" th:each="song : ${songs}">
						<a th:href="@{/SongDetails(songId=${song.id})}">
							<span th:text="${song.title}">Lifestyle</span>
						</a>
						<div id=image>
							<img th:src="@{'data:image/png;base64,'+${song.image}}"/>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<br>
	<div>
		<form th:action="@{/AddSong(playlistId=${playlist.id})}" method="POST">
			<label for="song">Select the song</label>
			<select name="song">
				<option th:each="song : ${songsOfUser}" th:value="${song.id}"  th:text="${song.title}">Boogieman</option>
			</select>
			<input type="submit" value="Add song to the playlist">
		</form>
	</div>

</body>
</html>