<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" media="all" href="../CSS/PlaylistPageStyle.css" th:href="@{/CSS/PlaylistPageStyle.css}"/>
<title>List of Songs</title>
</head>
<body>
	<h1>Playlist <span id="ptitle" th:text="${playlist.title}">GUE</span></h1>
	<div id="songs_table">
		<div  th:if="${#lists.isEmpty(songToView)}"><h3>La playlist non contiene ancora brani musicali</h3></div>
		<table th:unless="${#lists.isEmpty(songToView)}">
			<tbody>
				<tr>
					<td class="column" th:each="song : ${songToView}">
						<a th:href="@{/GetSongDetails(songId=${song.id})}">
							<span th:text="${song.title}">Lifestyle</span>
						</a>
						<div id=image>
							<img th:src="@{'data:image/png;base64,'+${song.image}}"/>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<br>
	<div>
		<div  id="leftbutton" th:if="${previousSongId} >= 0">
			<form th:action="@{/GetPlaylist(playlistId=${playlist.id},songId=${previousSongId})}" method="POST">
				<input class="buttons" type="submit" value="PRECEDENTI">
			</form>
		</div>
		<div id="rightbutton"  th:if="${songsSize} > ${nextSongId}">
			<form th:action="@{/GetPlaylist(playlistId=${playlist.id},songId=${nextSongId})}" method="POST">
				<input class="buttons" type="submit" value="SUCCESSIVI">
			</form>
		</div>
	</div>
	<br>
	<div id="addsong-form">
		<form th:action="@{/AddSong(playlistId=${playlist.id})}" method="POST">
			<label for="song">Select the song</label>
			<select name="songId">
				<option th:each="song : ${songsOfUser}" th:value="${song.id}"  th:text="${song.title}">Boogieman</option>
			</select>
			<input type="submit" value="Add song to the playlist">
		</form>
	</div>

</body>
</html>